<!DOCTYPE html>
<html>
<head>
    <title>Link List</title>
    <style>
        .link-item {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Link List</h1>
    <ul>
        {% for link in links %}
            <li class="link-item">
                <a href="{{ link.url }}">{{ link.name }}</a>
                <p>{{ link.description }}</p>
                <a href="{% url 'link_update' pk=link.pk %}">Edit</a>
                <a href="{% url 'link_delete' pk=link.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'link_create' %}">Create New Link</a>
</body>
</html>
